<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>display_list</title>
</head>
<body>
    <form action="dian_zan">
        <table border="1">
            <thead>
                <th>文章标题</th>
                <th>作者简介</th>
                <th>内容</th>
                <th>支持一下</th>
            </thead>
            <tbody>
                  <tr>
                      <td>
                        0
                      </td>
                      <td>
                        1
                      </td>
                      <td>
                        2
                      </td>
                      <td>
                        <button>点赞</button>
                      </td>
                  </tr>
            </tbody>
        </table>
    </form>
</body>
</html>










  <form action="/display">
    请输入文章名：
    <input type="text" name="key_word"/>
    <input type="submit" value="提交"/>
  </form>